player-connection-mode=Listen
player-connection-guid=4203826616
player-connection-debug=0
player-connection-project-name=r.e.p.e
player-connection-ip=26.76.56.148
player-connection-ip=192.168.0.235
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=efff409166d948bfadd252a6097a7838
